rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /families/fam-db3349ca3317/{document=**} {
      allow read, write: if true;
    }
  }
}
